##negative selection dir
./Assignment3-AIS/negative-selection

## Old assignments
./Assignment1-EC
./Assignment2-SI
./Assignment3-AIS
./Assignment4-CA
./Assignment5-EL
./Project

##jupyter notebook checkpoints
.ipynb_checkpoints

# NEAT Checkpoints
**/NEAT-checkpoints

# WANN Logs
/Project/WANN/log

