##negative selection dir
./Assignment3-AIS/negative-selection

## Old assignments
./Assignment1-EC
./Assignment2-SI
./Assignment3-AIS
./Assignment4-CA
./Assignment5-EL

##jupyter notebook checkpoints
.ipynb_checkpoints

# NEAT Checkpoints
./Project/NEAT-Checkpoints